
// color

$color-primary: #900;
$color-primary-light: #c00;
$color-primary-dark: #600;

$color-bg: #eee;
$color-bg-1: #EEE;
$color-blue: #607B8B;
$color-gray: #777;
$color-gray-dark: #555;
$color-white: #fff;
$color-black: #000;
$color-green: #2ecc71;

// for grid

$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 4rem;

// default-font 

$default-font-size: 1.6rem;